In [5]:
import pandas as pd
import os

In [3]:
root = 'D:/DATA_ANALYSIS/Case_1/'

In [4]:
files = ['202309-divvy-tripdata.csv','202310-divvy-tripdata.csv',
         '202311-divvy-tripdata.csv','202312-divvy-tripdata.csv',
         '202401-divvy-tripdata.csv','202402-divvy-tripdata.csv',
         '202403-divvy-tripdata.csv','202404-divvy-tripdata.csv',
         '202405-divvy-tripdata.csv','202406-divvy-tripdata.csv',
         '202407-divvy-tripdata.csv','202408-divvy-tripdata.csv']

In [6]:
# Create an empty list to store dataframes
dfs = []

# Loop through each file, read and append the dataframe to the list
for file in files:
    file_path = os.path.join(root, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

# Combine all dataframes into one
combined_df = pd.concat(dfs, ignore_index=True)

In [7]:
combined_df.to_csv('D:/DATA_ANALYSIS/Case_1/combined_data.csv', index=False)

In [8]:
combined_df.shape

(5699639, 13)

In [9]:
combined_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [11]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5699639 entries, 0 to 5699638
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 565.3+ MB

In [15]:
combined_df.iloc[0]['started_at']

'2023-09-23 00:27:50'

In [17]:
combined_df['started_at'] = pd.to_datetime(combined_df['started_at'])
combined_df['ended_at'] = pd.to_datetime(combined_df['ended_at'])

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": ".289", at position 3484317. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [18]:
combined_df['started_at'] = pd.to_datetime(combined_df['started_at'], format='ISO8601', errors='coerce')
combined_df['ended_at'] = pd.to_datetime(combined_df['ended_at'], format='ISO8601', errors='coerce')

In [19]:
combined_df.iloc[0]['started_at']

Timestamp('2023-09-23 00:27:50')

In [20]:
combined_df['ride_length'] = combined_df['ended_at'] - combined_df['started_at']

In [22]:
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,011C1903BF4E2E28,classic_bike,2023-09-23 00:27:50,2023-09-23 00:33:27,Halsted St & Wrightwood Ave,TA1309000061,Sheffield Ave & Wellington Ave,TA1307000052,41.929143,-87.649077,41.936253,-87.652662,member,0 days 00:05:37
1,87DB80E048A1BF9F,classic_bike,2023-09-02 09:26:43,2023-09-02 09:38:19,Clark St & Drummond Pl,TA1307000142,Racine Ave & Fullerton Ave,TA1306000026,41.931248,-87.644336,41.925566,-87.658416,member,0 days 00:11:36
2,7C2EB7AF669066E3,electric_bike,2023-09-25 18:30:11,2023-09-25 18:41:39,Financial Pl & Ida B Wells Dr,SL-010,Racine Ave & 15th St,13304,41.875061,-87.633135,41.861267,-87.656625,member,0 days 00:11:28
3,57D197B010269CE3,classic_bike,2023-09-13 15:30:49,2023-09-13 15:39:18,Clark St & Drummond Pl,TA1307000142,Racine Ave & Belmont Ave,TA1308000019,41.931248,-87.644336,41.939743,-87.658865,member,0 days 00:08:29
4,8A2CEA7C8C8074D8,classic_bike,2023-09-18 15:58:58,2023-09-18 16:05:04,Halsted St & Wrightwood Ave,TA1309000061,Racine Ave & Fullerton Ave,TA1306000026,41.929143,-87.649077,41.925566,-87.658416,member,0 days 00:06:06

In [23]:
columns_to_drop = ['start_lat', 'end_lat', 'start_lng', 'end_lng', 'end_lat', 'end_lng']
combined_df.drop(columns=columns_to_drop, inplace=True)

In [24]:
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length
0,011C1903BF4E2E28,classic_bike,2023-09-23 00:27:50,2023-09-23 00:33:27,Halsted St & Wrightwood Ave,TA1309000061,Sheffield Ave & Wellington Ave,TA1307000052,member,0 days 00:05:37
1,87DB80E048A1BF9F,classic_bike,2023-09-02 09:26:43,2023-09-02 09:38:19,Clark St & Drummond Pl,TA1307000142,Racine Ave & Fullerton Ave,TA1306000026,member,0 days 00:11:36
2,7C2EB7AF669066E3,electric_bike,2023-09-25 18:30:11,2023-09-25 18:41:39,Financial Pl & Ida B Wells Dr,SL-010,Racine Ave & 15th St,13304,member,0 days 00:11:28
3,57D197B010269CE3,classic_bike,2023-09-13 15:30:49,2023-09-13 15:39:18,Clark St & Drummond Pl,TA1307000142,Racine Ave & Belmont Ave,TA1308000019,member,0 days 00:08:29
4,8A2CEA7C8C8074D8,classic_bike,2023-09-18 15:58:58,2023-09-18 16:05:04,Halsted St & Wrightwood Ave,TA1309000061,Racine Ave & Fullerton Ave,TA1306000026,member,0 days 00:06:06

In [25]:
combined_df['day_of_week'] = combined_df['started_at'].dt.weekday.apply(lambda x: (x + 2) % 7 + 1)

In [26]:
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,day_of_week
0,011C1903BF4E2E28,classic_bike,2023-09-23 00:27:50,2023-09-23 00:33:27,Halsted St & Wrightwood Ave,TA1309000061,Sheffield Ave & Wellington Ave,TA1307000052,member,0 days 00:05:37,1
1,87DB80E048A1BF9F,classic_bike,2023-09-02 09:26:43,2023-09-02 09:38:19,Clark St & Drummond Pl,TA1307000142,Racine Ave & Fullerton Ave,TA1306000026,member,0 days 00:11:36,1
2,7C2EB7AF669066E3,electric_bike,2023-09-25 18:30:11,2023-09-25 18:41:39,Financial Pl & Ida B Wells Dr,SL-010,Racine Ave & 15th St,13304,member,0 days 00:11:28,3
3,57D197B010269CE3,classic_bike,2023-09-13 15:30:49,2023-09-13 15:39:18,Clark St & Drummond Pl,TA1307000142,Racine Ave & Belmont Ave,TA1308000019,member,0 days 00:08:29,5
4,8A2CEA7C8C8074D8,classic_bike,2023-09-18 15:58:58,2023-09-18 16:05:04,Halsted St & Wrightwood Ave,TA1309000061,Racine Ave & Fullerton Ave,TA1306000026,member,0 days 00:06:06,3

In [27]:
combined_df.to_csv('D:/DATA_ANALYSIS/Case_1/12_months_city_bike.csv', index=False)